body{ color: #716d6d }
#about h1{ text-align: left; }
p{ font-size: 16px; }

h1, h2, h3
{
  text-align: center;
  color: #575252;
}
#people
{
  text-align: center;
}
.col-sm-3 h2 spam
{
  height: 100px;
} 
.col-sm-3 h2
{
  height: 70px;
}

.col-sm-3 p
{
  height: 160px;
}
.social-media
{
  text-align: center;
}
.navm-dark .nav.masthead-nav  a
{
  color: rgba(255,255,255,0.95) !important; 
}
.navm-dark .inner
{
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
#portfolio .row a img
{
  max-width: 260px;
  max-height: 260px;
}
#portfolio .icon
{
  text-align: center;
}
#portfolio{ text-align: center; }
#portfolio p { min-height: 155px; }
#portfolio h3 { padding-bottom: 10px; }
/*
 * Globals
 */

/* Links */

#main-header a,
#main-header a:focus,
#main-header a:hover {
  color: #666;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

.site-wrapper{
  height: 600px;
  background: url("../img/bg.png") #e3e3e3;
  background-attachment: fixed;
  color: #666;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-align: center;
	filter: blur(5);
	overflow: hidden;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  
  height: 500px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #666; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
	margin-top: -100px; 
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



/*
*My stuff
*/

#searchb{
    width: 80%;
    margin: 0 auto;
}
.masthead{
  border-radius: 0 0 20px 20px;
  transition: all 0.5s;
  z-index: 5;
}
.navm-dark{
  background: rgba(0, 0, 0, 0.3);
	color: white;
}

section{
  padding: 100px 0;
}
/*
#people h2, #people *{
  text-align: center;
}
*/

section:nth-child(2n+1){
  background: #f4f4f4;
}
.game{
  padding: 20px 10px;
  transition: all .3s;
  cursor: default;
}
.game:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#awards img{
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
/*
*Contacts
*/

#contact textarea{
  margin-top: 30px;
  width: 100%;
}
#contact form input, #contact form textarea{
  padding: 20px;
}
#contact form *:focus{
  outline: none;
  border-color: rgba(255, 0, 0, 0.48);
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.48); 
  
}
footer{
  height: 200px;
  background: url(../img/bg.png) #e3e3e3;
  color: #666;
  padding: 50px;
  text-align: center;
}
footer p{
  font-size: 26px;
  font-weight: 100;
}
footer a{
  color: #purple;
}
footer a:hover{
  color: bisque;
  text-decoration: none;
}


.social-media a{
	opacity: .6;
	transition: opacity .2s;
}
.social-media a:hover{
	opacity: 1;
}
.social-media img{
	width: 35px; 
	margin: 4px
}

.firsts .row{
	padding: 20px 0;
}


